################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/KindleHelper/v15/Browse.VC.opendb
KindleHelper.v12.suo
KindleHelper.sdf
KindleHelper.opensdf
/ipch/kindlehelper.plugin.cppplugin-34f75514
/packages/
/Publish Version/
/setup/Publish Version
