<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="FolderPath" value="" />
    <add key="FileFilter" value="*.mobi" />
    <add key="KindleMail" value="yh20021212@126.com" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpServer" value="smtp.yeah.net" />
    <add key="SmtpUserName" value="yh200212" />
    <add key="SmtpPassword" value="123456ABCD!@" />
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
    <add key="log4net.Internal.Debug" value="True"/>
  </appSettings>
</configuration>