<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--httpHandlers>
      <add verb="*" path="ePubReader/extData.aspx" type="EpubReader.ExtendedDataHandler"/>
    </httpHandlers-->
  </system.web>
  <system.webServer>
        <handlers>
            <add verb="*" path="ePubReader/extData.aspx" name="ExtendedDataHandler" type="eBdb.EpubReader.ExtendedDataHandler"/>
        </handlers>
    </system.webServer>
  <appSettings>
    <add key="EpubFilesPath" value="D:\$代码\KindleHelper-master\KindleHelper-master\Publish Version\file\"/>
  </appSettings>
</configuration>